* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #c3c6d7;
  border-radius: 999px;
}

input[type='search']::-webkit-search-cancel-button {
  display: none;
}
